<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="clickMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="aboveMenu" *ngIf="role == 'Admin' || role == 'ManagerLV1' || role == 'ManagerLV2'">Employee</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/employee">Employee managegent</button>
    <button mat-menu-item routerLink="/task">Task assignment</button>
    <button mat-menu-item routerLink="/chat">Chat room</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="aboveMenu1">Student</button>
  <mat-menu #aboveMenu1="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/student">Student</button>
    <button mat-menu-item routerLink="/subject">Subject</button>
    <button mat-menu-item routerLink="/classjoin">Add student to class</button>
    <button mat-menu-item>Score</button>
  </mat-menu>

  <button mat-button routerLink="/account">Account</button>

  <span class="example-spacer"></span>
  <div>
    <h5>Hi, {{ userName }}!</h5>
  </div>
  <button
    style="margin: 5px"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="goToChat()"
  >
    <mat-icon>chat</mat-icon>
  </button>
  <div class="section">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="showNotiDialog()"
    >
      <mat-icon>notifications</mat-icon>
      <span
        matBadge="{{ notificationCount | async }}"
        matBadgeColor="warn"
        matBadgeOverlap="true"
        matBadgePosition="below after"
        matBadgeSize="small"
        *ngIf="(notificationCount | async) !== 0"
      ></span>
    </button>
  </div>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="logOut()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
