<div class="bg">
  <mat-drawer-container class="bg" autosize [hasBackdrop]="true">
    <app-navbar></app-navbar>

    <div style="padding: 20px">
      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile [colspan]="1" [rowspan]="3" class="grid-list">
          <mat-card class="chat-card">
            <mat-card-title>User in room</mat-card-title>
            <mat-card-content>
              <div>
                <mat-card
                  *ngFor="let user of chatService.onlineUsers"
                  class="card-content"
                >
                  <mat-card-content>
                    {{ user }}
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="2" class="grid-list">
          <mat-card class="member-card">
            <mat-card-title>Chat</mat-card-title>
            <mat-card-content>
              <mat-card class="card-content">
                <mat-card-content>
                  <app-messages
                    [messages]="chatService.messages"
                  ></app-messages>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile
          [colspan]="3"
          [rowspan]="1"
          class="grid-list"
          rowHeight="100%"
        >
          <mat-card class="chat-card">
            <mat-card-content>
              <div class="input-container">
                <app-chat-input
                  class="full-width"
                  (contentEmitter)="sendMessage($event)"
                ></app-chat-input>
              </div>

              <button mat-raised-button (click)="openPrivateChat('locphuho')">
                Send notify
              </button>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-drawer #sidenav class="example-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/account" [disabled]="role != 'Admin'"
          ><mat-icon matListItemIcon style="margin-right: 5px; margin-bottom: 3px;">note</mat-icon> Account
        </a>
        <a mat-list-item routerLink="/employee">Employee</a>
        <a mat-list-item routerLink="/chat-v2">Chat room</a>
        <a mat-list-item routerLink="/task" [disabled]="role == 'Employee'"
          >Task assignment</a
        >
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>
</div>
