<div class="bg">
  <mat-drawer-container
    class="bg"
    autosize
    [hasBackdrop]="true"
  >
    <app-navbar></app-navbar>
    <div style="width: 80%; margin-top: 50px; margin: auto; padding: 20px">
      <div>
        <table mat-table [dataSource]="dataTasks" matSort>
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-soft-header>
              Task Id
            </th>
            <td mat-cell *matCellDef="let row">{{ row.Id }}</td>
          </ng-container>
          <ng-container matColumnDef="TaskName">
            <th mat-header-cell *matHeaderCellDef mat-soft-header>
              Task Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.TaskName }}</td>
          </ng-container>
          <ng-container matColumnDef="TaskDescription">
            <th mat-header-cell *matHeaderCellDef mat-soft-header>Task Description</th>
            <td mat-cell *matCellDef="let row">{{ row.TaskDescription }}</td>
          </ng-container>
          <ng-container matColumnDef="Assignee">
            <th mat-header-cell *matHeaderCellDef mat-soft-header>Assignee</th>
            <td mat-cell *matCellDef="let row">
              {{ row.Assignee == '00000000-0000-0000-0000-000000000000' ? '' : row.Assignee + ' - ' + row.AssigneeName}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Reporter">
            <th mat-header-cell *matHeaderCellDef mat-soft-header>
              Reporter
            </th>
            <td mat-cell *matCellDef="let row">{{ row.Reporter }}</td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="width: 30px"
            ></th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                color="primary"
                (click)="assign(row)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of employees"
        >
        </mat-paginator>
      </div>
    </div>
    <mat-drawer #sidenav class="example-sidenav" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/account" [disabled]="role != 'Admin'"
          >Account</a
        >
        <a mat-list-item routerLink="/employee">Employee</a>
        <a mat-list-item routerLink="/chat-v2">Chat room</a>
        <a mat-list-item routerLink="/task" [disabled]="role == 'Employee'">Task assignment</a>
      </mat-nav-list>
    </mat-drawer>
  </mat-drawer-container>
</div>
